extends ../layouts/blog-post

block seo-meta
  title #{meta.title} | Adam Gibbons
  meta(name="description" content="#{meta.description}")
  meta(property="og:url" content="http://agibbons.com/blog/#{slug}/")
  meta(property="og:type" content="article")
  meta(property="og:title" content="#{title}")
  meta(property="og:description" content="#{meta.description}")
  meta(property="og:site_name" content="Adam Gibbons")

block seo-breadcrumbs
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://agibbons.com",
          "name": "Home"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://agibbons.com/blog",
          "name": "Blog"
        }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "https://agibbons.com/blog/#{slug}",
          "name": "#{title}"
        }
      }]
    }

block header
  .h1.text-center #{title}

block content
  .row
    .col-sm-5
      .row
        .col-sm-11

          .front-matter
            .thumb
              img(src="/images/authors/#{author.thumb}.jpg")

            .author  Written by #{author.name}
              br
              | #{author.title}

          .share-contact
            //- a#share-via-email.email: span.ss-mail
            p share contact stuff here

          if img
            .article-img
              img(src="/images/posts/#{img.url}")
              if img.caption
                .caption #{img.caption}

    .col-sm-7
      p.date #{date}

      div.blog-body !{body}

      hr

      .blog-body: p: a(href="/blog") Read more blog posts
