.container
  .columns
    .column.is-narrow
      div.swing
        a(href="/")
          img.adam-gibbons-cartoon(
            alt="Adam Gibbons cartoon"
            src="/images/adam-gibbons-cartoon.png")
    .column
      h1.h1: a(href="/") Adam Gibbons
      h2.h2 Full Stack Web Developer
    .column.is-narrow.has-text-right
      .columns
        .column
          a(
            title="Work"
            href="/work/onemove") Work
        .column
          a(
            title="About Adam Gibbons"
            href="/about") About
        .column
          a(
            title="Contact Adam Gibbons"
            href="mailto:adam@agibbons.com") Contact

