extends base.pug

block content
  .home
    .dark-bg
      .container
        .columns
          .column.is-8.is-offset-2
            .pitch.has-text-centered I'm a web developer based in Boulder, Colorado. I design and build rich, responsive web applications and interactive user interfaces.

    .container.has-text-centered
      br
      h3.title.is-2 Recent Work
      .tile.is-ancestor
        .tile.is-parent
          .tile.is-child
            .project
              .logo
                img(src="/images/work/onemove/onemove-logo.png")
              h4.title.is-4
                a(
                  href="/work/onemove"
                  title="OneMove") OneMove (web app)
              //- .project-name: a(href="#") OneMove (web app)
        .tile.is-parent
          .tile.is-child
            .project
              .logo
                img(src="/images/work/moveline/moveline-logo.png")
              h4.title.is-4
                a(
                  href="/work/moveline"
                  title="Moveline") Moveline (web app)
        .tile.is-parent
          .tile.is-child
            .project
              .logo
                img(src="/images/work/ics/ics-logo.png")
              h4.title.is-4
                a(
                  href="/work/ics"
                  title="ICS npm package") ICS (Node.js package)
